@import url("/design-system/blockquote/styles.css");
@import url("/design-system/main/styles.css");
@import url("/design-system/card/styles.css");
@import url("base.css");
@import url("/design-system/container/styles.css");
@import url("/design-system/footer/styles.css");
@import url("/design-system/icon-botton/styles.css");
@import url("/design-system/header/styles.css");

.shadow {
  border: silver;
  -webkit-box-shadow: 5px 5px 15px 5px #000000, 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000, 5px 5px 15px 5px #000000;
}
