.contact-side {
  border: 1px solid silver;
  background-color: lightgray;
  display: grid;
  grid-template-columns: 50% 50%;
  place-content: center;
}

.card {
  display: flex;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: whitesmoke;
  justify-content: end;
  flex-grow: 1;
  width: 40%;
  padding: 50px;
  margin: 50px;
}

.card-media {
  display: flex;
  align-items: center;
  padding: 40px;
  flex-shrink: 3;
}

.card-image {
  flex-shrink: 3;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  width: 100%;
}

.card-link-arrow {
  text-align: right;
  width: 50px;
}
.card-image-arrow {
  display: flex;
  justify-content: flex-end;
}
